@font-face {
    font-family: "rounded-x-mplus-1c-medium";
    src: url("rounded-x-mplus-1c-medium.eot"); /* IE9 */
    src: url("rounded-x-mplus-1c-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("rounded-x-mplus-1c-medium.woff") format("woff"), /* chrome, firefox */
    url("rounded-x-mplus-1c-medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("rounded-x-mplus-1c-medium.svg#rounded-x-mplus-1c-medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


